.body_style{
    background-color: rgb(230, 230, 230);
}

.navbar_right_side{
    position: fixed;
    right: 15px;
    z-index: 1;
    text-align: left;
    background-color:#D9230F;
}


.drop_down{
    color: rgba(255,255,255,0.75)
}

.drop_down:hover{
    color:white;
}

.summary_container{
    padding: 2rem;
    margin: 1rem;
}

.visualization_container{
    padding: 2rem;
    margin: 1rem;
} 

.image_column{
    margin: 0 px;
    padding-right: 0px;
    max-width: 100%;
}

.visualization{
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.main_visualization{
    float: left;
}

.image_selected{
    border: 2px solid #D9230F;
}

.image_not_selected{
    border: 0px;
}

.comparisons_container{
    padding: 2rem;
    margin: 1rem;
}

.comparisons_image{
    margin:auto;
    text-align:center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}